<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/sweetalert.min.js" charset="utf-8"></script>
    <script src="../static/js/jq.js" charset="utf-8"></script>
    <script src="../static/js/bootstrap.js" charset="utf-8"></script>
    <script src="../static/js/popper.js" charset="utf-8"></script>
    <style media="screen">
    .frm{
      margin-top: 5%;;
      background-color: pink;

      padding: 10%;
      position: absolute;
      margin-left: 20%;
    }

    .frm:hover{
      box-shadow:0%, 10%, 20%, rgba(0, 0, 0, 0.5);
    }
    </style>
  </head>
  <body>
    <div class=""align="center">
      <form class="form-group frm" action="" method="post">
        <p><input type="text" name="uname" class="form-control" value="" placeholder="Enter Username"></p>
        <p><input type="password" name="password" class='form-control' value="" placeholder="Enter Password"></p>
        <p><input type="submit" name="" class="btn-lg btn-primary form-control"value="Submit"></p>
      </form>
    </div>

  </body>
</html>
