<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <p><input type="text" name="name" value="" placeholder="Enter Name"></p>
      <p><input type="email" name="email" value="" placeholder="Enter Email ID"></p>
      <p><input type="text" name="cnum" value="" placeholder="Enter Contact Number"></p>
      <p><input type="text" name="uname" value="" placeholder="Enter Username"></p>
      <p><input type="text" name="pass" value="" placeholder="Enter Password"></p>
      <p><input type="submit" name="" value="Submit"></p>

    </form>
  </body>
</html>
